name: Build & Push Docker Image

on:
  push:
    branches: [main]
    tags: [ 'v*.*.*' ]

permissions:
  contents: read
  packages: write

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - image_name: "gohome"
            context_path: "."
            dockerfile: "./Dockerfile"
          - image_name: "gohome-bluetooth-scanner"
            context_path: "cmd/native-plugins/bluetooth-scanner"
            dockerfile: "cmd/native-plugins/bluetooth-scanner/Dockerfile"
          - image_name: "gohome-homekit-adapter"
            context_path: "cmd/native-plugins/homekit-adapter"
            dockerfile: "cmd/native-plugins/homekit-adapter/Dockerfile"
          - image_name: "gohome-http-scanner"
            context_path: "cmd/native-plugins/http-scanner"
            dockerfile: "cmd/native-plugins/http-scanner/Dockerfile"

    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ matrix.image_name }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=sha

      - name: Build & Push multi-arch image
        id: build-and-push
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.context_path }}
          file: ${{ matrix.dockerfile }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha,scope=${{ matrix.image_name }}
          cache-to: type=gha,mode=max,scope=${{ matrix.image_name }}